/* Popup PM */
#form_popuppm {
	overflow: hidden;
	width: 530px;
	height: 446px;
	position: fixed;
	top: 0;
	top: calc(50% - 223px);
	left: 0;
	left: calc(50% - 265px);
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;
}

#form_popuppm:before {
	content:"";
	position: absolute;
	bottom: 128px;
	left: 0px;
	left: calc(50% - 265px);
	background: url('./images/popuppm-before.png');
	background-size: cover;
	width: 530px;
	height: 316px;
}

#form_popuppm:after {
	content:"";
	position: absolute;
	bottom: 0px;
	left: 0;
	left: calc(50% - 265px);
	background:url('./images/popuppm-after.png');
	background-size: cover;
	width: 530px;
	height: 260px;
	pointer-events: none;
}

#form_popuppm.hide:after, #form_popuppm.hide:before {
	display: none;
}

#form_popuppm:hover {
	height: 576px;
	top: -100px;
	top: calc(50% - 323px);
}

.jq_popuppm {
	background: url('./images/popuppm-letter_bg.png') repeat 0 0 #F7F2EC;
	position: relative;
	top: 200px;
	overflow: hidden;
	height: 200px;
	width: 400px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #9D9D9D, inset 0px 0px 27px #FFFFFF;
	-moz-box-shadow: 0px 0px 3px #9D9D9D, inset 0px 0px 14px #FFFFFF;
	-webkit-box-shadow: 0px 0px 3px #9D9D9D, inset 0px 0px 27px #FFFFFF;
	-webkit-transition: all 1s ease-in-out .3s;
	-moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
	transition: all 1s ease-in-out .3s;
}

#form_popuppm:hover .jq_popuppm {
	height: 330px;
}

.jq_popuppm p.close_win {
	text-align: right;
}

.jq_popuppm a.close {
	font-size: 10px;
}

.jq_popuppm p.click_view {
	text-align: center;
	clear: both;
}

.jq_popuppm a.view {
	font-size: 13px;
}

.jq_popuppm p.new_message {
	margin-top: 20px;
	text-align: center;
	font-size: 1.3em;
}

.pm_info span {
	display: block;
	margin-bottom: 0.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pm_info span.pm_avatar {
	float: left;
	margin-right: 10px;
	height: 50px;
	margin-bottom: 0;
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
	#form_popuppm {
		width: 330px;
		height: 277px;
		top: calc(50% - 138px);
		left: calc(50% - 165px);
	}

	#form_popuppm:before {
		bottom: 79px;
		left: 0px;
		left: calc(50% - 165px);
		width: 330px;
		height: 196px;
	}

	#form_popuppm:after {
		left: calc(50% - 165px);
		width: 330px;
		height: 161px;
	}

	#form_popuppm:hover {
		height: 376px;
		top: -50px;
		top: calc(50% - 188px);
	}
	
	.jq_popuppm {
		height: 200px;
		width: 260px;
		top: 123px;
		padding: 5px;
	}
	
	.jq_popuppm p.new_message {
		margin-top: 0; 
	}
}