{% if POPUPPM_UCP_ENABLE_POPUP %}
	<dl>
		<dt><label for="popuppm_user_popup1">{{ lang('ACP_POPUPPM_ENABLE_POPUP') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="popuppm_user_popup1"><input type="radio" name="popuppm_user_popup" id="popuppm_user_popup1" value="1"{% if S_PM_ENABLE_POPUP %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="popuppm_user_popup0"><input type="radio" name="popuppm_user_popup" id="popuppm_user_popup0" value="0"{% if not S_PM_ENABLE_POPUP %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
{% endif %}
{% if POPUPPM_UCP_ENABLE_BLINK %}
	<dl>
		<dt><label for="popuppm_user_blink1">{{ lang('ACP_POPUPPM_ENABLE_BLINK') }}{{ lang('COLON') }}</label></dt>
		<dd>
			<label for="popuppm_user_blink1"><input type="radio" name="popuppm_user_blink" id="popuppm_user_blink1" value="1"{% if S_PM_ENABLE_BLINK %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
			<label for="popuppm_user_blink0"><input type="radio" name="popuppm_user_blink" id="popuppm_user_blink0" value="0"{% if not S_PM_ENABLE_BLINK %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dd>
	</dl>
{% endif %}
